{% extends "layout.html" %}
{% block title %}{{ url[1] }}{% endblock %}
{% block content %}

    <h1>Сайт: {{ url[1] }}</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="url">
            <tbody>
                <tr>
                        <td>ID</td>
                        <td>{{ url[0] }}</td>
                </tr>
                <tr>
                        <td>Имя</td>
                        <td>{{ url[1] }}</a></td>
                </tr>
                <tr>
                        <td>Дата создание</td>
                        <td>{{ url[2] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="/urls/1/checks"> {#Потом#}
        <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    <div>{#Потом#}</div>
{% endblock %}