{% extends "layout.html" %}

{% block title %}Сайты{% endblock %}

{% block content %}
    <h1>Сайты</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                </tr>
            </thead>
            <tbody>
                {% for url_item in urls %}
                <tr>
                    <td>{{ url_item[0] }}</td>
                    <td><a href="{{ url_for('show_url', id=url_item[0]) }}">{{ url_item[1] }}</a></td>
                    <td></td>
                    <td></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">Пока не добавлено ни одного сайта</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}